:root {
  --primary-text-color: #757575;
  --secondary-text-color: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close__icon {
  top: 17px;
  right: 17px;
}

.modal-form__text {
  display: block;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field__label {
  display: block;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.modal-form-field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-field__input:hover, .modal-form-field__input:focus {
  outline: transparent;
  fill: var(--accent-color);
  border-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field__wrap {
  position: relative;
  display: block;
}

.modal-form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

.modal-form-field__input:hover + .modal-form-field__icon,
.modal-form-field__input:focus + .modal-form-field__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field__comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
}

.modal-form-field__comment:hover, .modal-form-field__comment:focus {
  border-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field__comment::placeholder {
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field__check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  cursor: pointer;
}

.modal-form-field__checkbox:checked + .modal-form-field__check-label > .modal-form-field__icon-check {
  background-color: var(--accent-color);
  border: transparent;
}

.modal-form-field__link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-form-field__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__submit-btn {
  padding: 10px 55px;
  margin: 0 auto;
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icon-nets__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-nets__link:hover, .icon-nets__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social__item {
  display: block;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.contacts {
  margin-left: auto;
}

.contacts__item {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__button {
  display: block;
  min-width: 200px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.preferences {
  display: flex;
}

.preferences__item {
  margin-right: 30px;
}

.preferences__item:last-child {
  margin-right: 0;
}

.preferences__title {
  width: 270px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.preferences__text {
  width: 270px;
  color: var(--primary-text-color);
}

.preferences__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.preferences__icon-picture {
  border-radius: 4px;
  justify-content: center;
}

.section--no-padding-top {
  padding-top: 0;
}

.activities {
  display: flex;
}

.activities__item {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 30px;
  position: relative;
}

.activities__item:last-child {
  margin-right: 0;
}

.activities__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--other-background {
  background-color: #f5f4fa;
}

.our-team {
  display: flex;
}

.our-team__item {
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  width: calc((100%-90px) / 4);
}

.our-team__item:last-child {
  margin-right: 0;
}

.our-team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}

.our-team__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.our-team__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-adress {
  flex-grow: 1;
}

.footer__logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress-variants {
  font-style: normal;
}

.adress-variants-list__item {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-variants-list__item:first-child {
  color: var(--primary-white-color);
}

.adress-variants-list__item:last-child {
  margin-bottom: 0;
}

.adress-variants-list__link:hover,
.adress-variants-list__link:focus {
  color: var(--accent-color);
}

.footer__logo--white {
  color: var(--primary-white-color);
}

.social-nets {
  margin-left: 70px;
}

.social-nets-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.social-nets-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-nets-list__item:last-child {
  margin-right: 0px;
}

.social-nets-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nets-list__link:hover, .social-nets-list__link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: 93px;
  display: flex;
}

.social-nets__text,
.suscribe-form__text {
  font-size: 14px;
  font-weight: 700px;
  color: var(--primary-white-color);
}

.suscribe-form__text,
.email {
  display: block;
}

.subscribe-steps {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin-top: 20px;
}

.subscribe-steps__email {
  display: block;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.mail::placeholder {
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-steps__submit-btn,
.modal-form__submit-btn {
  display: block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.subscribe-steps__submit-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.projects__item {
  display: flex;
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-sizing: border-box;
}

.projects__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.content__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
}

.projects__link:hover .projects__description,
.projects__link:focus .projects__description {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */