.preferences__item {
  width: 450px;
}

@media screen and (min-width: 1200px) {
  .preferences {
    display: flex;
  }

  .preferences .preferences__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      display: flex;
      margin-right: 10px;
      margin-top: 10px;
    }

    &:last-child {
      @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }
}
}

  .preferences__title {
    width: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: var(--title-text-color);
    @media screen and (min-width: 768px) {
      margin: 0;
      text-align: start;
    }
  }
  
  .preferences__text {
    width: 450px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }   
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
    color: var(--primary-text-color);
  }
  
  .preferences__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
  
    background-color: #f5f4fa;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  
  .preferences__icon-picture {
    border-radius: 4px;
    justify-content: center;
  }
  