
.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    transition: opacity var(--transition-duration) var(--transition-effect), visibility var(--transition-duration) var(--transition-effect);
      
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }