:root {
    --primary-text-color: #757575;
    --secondary-text-color: #000000;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
  }